
<main class="min-h-[80vh]">
    <h1 class="text-center mb-5">RESULTADO</h1>
    <div class="mb-5">
        <div class="flex items-center w-[40%] mx-auto">
            <h3 class="mr-2">FILTROS:</h3>
            <div class="w-[100%] flex justify-around">
                <select name="filter-result" class="w-[30%] border-1 mr-2 rounded-md">
                    <option value="" checked>-</option>
                    <option value="aprovados">Aprovados</option>
                    <option value="reprovados">Reprovados</option>
                </select>
                <input class="w-[50%] border-1 rounded-md py-1 px-2" type="text" placeholder="Pesquisar por nome...">
            </div>

        </div>
    </div>
    <table class="mx-auto min-w-[50%]">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>MEDIA</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody id="data-result">
        </tbody>
    </table>
    <!--CODIGO PARA ATUALIZAR DADOS DINAMICAMENTE SEM PRECISAR CARREGAR PAGINA -->
    <script>
        const url_api = "http://localhost:3000/api";

        async function getAllResult () {
            return await fetch(`${url_api}/get-all-resultado`).then(response => response.json());
        }

        function createTD(text){
            const td = document.createElement("td");
            td.innerText = text;
            return td;
        }

        function createTr(tds){
            const tr = document.createElement('tr');
            for(const td of tds){
                tr.appendChild(td);
            }
            return tr;
        }

        async function loadDataResult () {
            const containerData = document.querySelector('#data-result');
            const allResult = await getAllResult();
            for(const result of allResult) {
                const tds = [];
                for(const data in result){
                    tds.push(createTD(result[data]));
                }
                result.media >= 6 ? tds.push(createTD('Aprovado')) : tds.push(createTD('Reprovado'));
                containerData.appendChild(createTr(tds));
            }
        }

        loadDataResult();
    </script>
</main>
