<header class="bg-black py-2">
    <nav class="w-[30%] mx-auto text-white">
        <ul class="flex flex-wrap justify-around">
            <li>
                <a href="/">RESULTADO</a>
            </li>
            <li>
                <a href="/cadastro">PARTICIPANTES</a>
            </li>
            <li>
                <a href="/notas">NOTAS</a>
            </li>
        </ul>
    </nav>
</header>