<header class="bg-black py-2 ">
    <nav class="w-[30%] mx-auto text-white">
        <ul class="flex flex-wrap justify-evenly">
            <li>
                <a href="/">RESULTADO</a>
            </li>
            <li>
                <a href="/alunos">ALUNOS</a>
            </li>
        </ul>
    </nav>
</header>